/*@define-color base00 #1e1e2e; @define-color base01 #181825; @define-color base02 #313244; @define-color base03 #45475a;*/
/*@define-color base04 #585b70; @define-color base05 #cdd6f4; @define-color base06 #f5e0dc; @define-color base07 #b4befe;*/
/*@define-color base08 #f38ba8; @define-color base09 #fab387; @define-color base0A #f9e2af; @define-color base0B #a6e3a1;*/
/*@define-color base0C #94e2d5; @define-color base0D #89b4fa; @define-color base0E #cba6f7; @define-color base0F #f2cdcd;*/

/*base00 - Default Background*/
/*base01 - Lighter Background (Used for status bars, line number and folding marks)*/
/*base02 - Selection Background*/
/*base03 - Comments, Invisibles, Line Highlighting*/
/*base04 - Dark Foreground (Used for status bars)*/
/*base05 - Default Foreground, Caret, Delimiters, Operators*/
/*base06 - Light Foreground (Not often used)*/
/*base07 - Light Background (Not often used)*/
/*base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted*/
/*base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url*/
/*base0A - Classes, Markup Bold, Search Text Background*/
/*base0B - Strings, Inherited Class, Markup Code, Diff Inserted*/
/*base0C - Support, Regular Expressions, Escape Characters, Markup Quotes*/
/*base0D - Functions, Methods, Attribute IDs, Headings*/
/*base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed*/
/*base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>*/
/**/

* {
  border: 0;
  padding: 0 0;
  font-family: "Inter Variable", "Symbols Nerd Font";
  font-feature-settings: '"zero", "tnum", "ss01", "ss02", "ss03", "cv01", "cv05", "cv08", "cv10", "cv11", "cpsp", "case"';
  font-size: 18px;
}

window#waybar {
  border: 0;
  background-color: @base00;
}

#workspaces {
  margin: 4px 2px; 
}

#workspaces button {
  color: @base03;
  padding-right: 5px;
  margin: 2px 4px;
}

#workspaces button:hover {
  background-color: @base03;
  color: @base00;
}

#workspaces button.visible,
#workspaces button.active {
  color: @base04;
}

#workspaces button.visible:hover,
#workspaces button.active:hover {
  background-color: @base04;
  color: @base00;
}

#workspaces button.hosting-monitor {
  color: @base07;
}

#workspaces button.hosting-monitor:hover {
  background-color: @base07;
  color: @base00;
}

#workspaces button.hosting-monitor.active {
  color: @base0B;
}

#workspaces button.hosting-monitor.active:hover {
  background-color: @base0B;
  color: @base00;
}

#workspaces button.urgent {
  color: @base08;
}

#workspaces button.urgent:hover {
  background-color: @base08;
  color: @base00;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#idle_inhibitor,
#systemd-failed-units,
#custom-touchpad,
#custom-notification {
  border-style: solid;
  background-color: @accent_fg_color;
  margin: 1px 0;
  padding: 5px 0;
}

#custom-notification {
  margin-left: 10px;
  padding: 0 20px 0 20px;
  border-radius: 10px 0 0 10px;
  color: @base07;
}

#clock {
  border-radius: 0;
  padding: 0 20px 0 10px;
  color: @base07;
}

#idle_inhibitor.deactivated {
  border-radius: 0 10px 10px 0;
  padding-right: 20px;
  color: @base07;
}

#idle_inhibitor.activated {
  border-radius: 5px;
  padding-right: 20px;
  color: @base00;
  background-color: @base0B;
}

#tray {
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin-left: 10px;
}

#tray menu {
  background-color: @accent_fg_color;
}

#tray menuitem,
#tray window {
  background-color: transparent;
}

#tray menu menuitem:hover {
  color: @base00;
  background-color: @base07;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#tray > .active {
}

#backlight {
  color: @base07;
  padding: 0 10px 0 20px;
  border-radius: 10px 0 0 10px;
  margin-left: 10px;
}

#battery {
  color: @base07;
  padding: 0 20px 0 10px;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#battery.critical:not(.charging) {
  color: @base08;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  color: @base0B;
}

@keyframes blink {
  to {
    color: @base08;
  }
}

#network {
  color: @base07;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  padding: 10px;
}

#network.disconnected {
  color: @base08;
  margin-right: 10px;
  padding: 10px;
}

#pulseaudio {
  color: @base07;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

#pulseaudio.muted {
  color: @base08;
}

#backlight-slider slider, #pulseaudio-slider slider {
  background-color: transparent;
  box-shadow: none;
  margin-right: 5px;
  padding: 0;
}

#backlight-slider trough, #pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: @base00;
  padding: 0;
}

#backlight-slider highlight, #pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: @base07;
  padding: 0;
}

#systemd-failed-units,
#custom-touchpad {
  color: @base07;
}

#systemd-failed-units.degraded {
  color: @base08;
}

tooltip {
  background: @accent_fg_color;
}

tooltip label {
  color: @window_fg_color;
}
